@media (min-width: 1201px) {
    header {
        position: static;
        padding: 5px;
    }

    h1 {
        font-size: 3.5vw;
    }

    label {
        font-size: 2vw;
    }

    header {
        height: 10vh;
    }

    main {
        height: 83vh; 
    }

    footer {
        height: 5vh;
    }

    img {
        width: 50%;
        height: 50%;
    }


    .intro {
        font-size: 2.5vmin
    }

    .error {
        font-size: 1.5vw;
    }

    #link {
        font-size: 1.3vw;
        width: 40vw;
    }

    .send {
        font-size: 2vw;
    }

    .homeButton {
        font-size: 2vw;
        transition: 300ms;
    }

    .image {
        width: 45%;
        height: 65%;
    }

    .rotateButtons {
        width: 20vmin;
        height: 15%;
        margin-top: 1vh;
    }

    .right, .left {
        width: 50%;
    }

    .rotateButtons i {
        font-size: 1.5vw;
    }

    .displayFlex {
        display: flex;
        flex-wrap: wrap;
    }

    .homeButton:hover {
        background-color: red;
        box-shadow: 0px 0px 10px red;
    }
}